body{
  font-family: sans-serif;
  background-color: #40404080;
}
.cal_heading {
  flex: 1;
  text-align: left;
  padding-right: 6px;
}
.calculator-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.calculate{
    background-color:darkgoldenrod;
    width: 400px;
    margin-right: 100px;
    padding: 20px;
    border: 1px solid #422d2d;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #40404080;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input{
    width: 80%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  label {
    padding: 5px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
